.SectionContainer{
    display: flex;
    flex-flow: column wrap;
    width:100%;
    padding: 100px 0 200px 0;
}

.Title{
    width: 100%;
    display: block;
    font-size: 2.0em;
    font-style: italic;
    text-align: right;
    background-color: mediumturquoise;
}
.ContentContainer{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: mediumseagreen;
}

@media screen and ( min-width:800px) and (min-height:500px) {
    .SectionContainer{
        width: 70%;
        margin: 0 15% 0 15%;
    }

}