.Activities{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: row wrap;
}

.ActivityTypeContainer{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ActivityType{
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    background-color: mediumseagreen;
}
.ActivityType:hover{
        color: mediumseagreen;
        background-color: white;
        border: 2px solid green;
        border-radius: 10px;
}

.ActivitiesListContainer{
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ActivityList{    
    display: block;
    padding: 5px;
    border: 2px solid green;
    border-radius: 5px;
    text-align: justify;
}
